<section id='stats for servey'>
  <h1> <%= @survey.name.upcase %> </h1>
  <% @total = 0 %>
  <% @questions = @survey.questions %>
  <% @questions.each do |question| %>
                  <% choices = question.choices %>
                  <% choices.each do |choice| %>
                    <% @current = [] %>
                    <% @current << choice.responses %>
                    <p>The amount of people that said <%=choice.choice_text%> is:  <%=@current[0].length%></p>
                      <% @total += @current[0].to_s.length %>
                      <% @current[0].to_s.length %>
                  <%end%> 
          
        
          <p>Total Amount of people who answered this question: <%=@total.to_s.length %></p><br>

      <% @total = 0 %>
  <%end%> 

  <h2>The total amount of people who completed this survey is <%= (@survey.responses.length / @survey.questions.length) %>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h2>
</section>





