<section id='stats for servey'>
  <h1> <%= @survey.name.upcase %> </h1>
  <% @questions = @survey.questions %>
  <% @questions.each do |question| %>
  <% @data = [] %>
  <% @labels = [] %>
    <% @chart_name = "question#{question.id}" %>
    <% choices = question.choices %>
    <% choices.each do |choice| %>
      <% @labels << choice.choice_text %>
      <% @current = choice.responses.count %>
      <p>The amount of people that said <%=choice.choice_text%> is:  <%=@current %></p>
      <% @data << @current %>
    <%end%> 


<canvas id="<%= @chart_name %>" width="600" height="200">
  <script>
  // console.log(dataArray)
  var data = {
          labels : <%= @labels %>,
          datasets : [{
            fillColor : "rgba(134,184,177,1)",
            strokeColor : "rgba(220,220,220,1)",
            data : <%= @data %>
          }]
        }
        console.log(data)
        var ctx = document.getElementById("<%= @chart_name %>").getContext("2d");
        var <%= @chart_name %> = new Chart(ctx).Bar(data);
        
  </script>
</canvas>
  <p>Total Amount of people who answered this question: <%= question.times_answered %></p><br>
  <%end%> 

  <h2>The total amount of people who completed this survey is <%= @survey.times_taken %></h2>
</section>



