<form name="survey" action="/take_survey/<%= @survey.id %>" method ="POST"> 
  <% @questions.each do |question| %>
    <p class="question">Question: <%= question.question_text %></p><br>  
    <% if @type == "3" %>
          <input class="text" type="text" name="<%= question.id %>" placeholder="answer"> 
    <% elsif @type == "4" %>
          <input class="true" type="radio" name="<%= question.id %>" value="1">True
          <br> 
          <input class="true" type="radio" name="<%= question.id %>" value="2">False
          <br>
    <% else %>
      <% question.choices.each do |choice| %>    
       <% if @type == "1" %>
            <input class="radio" type="radio" name="<%= question.id %>" value="<%= choice.id %>"> 
              <%= choice.choice_text %>
             <br> 
        <% elsif @type == "2" %>
            <input class="checkbox" type="checkbox" name="<%= question.id %>" value="<%= choice.id %>"> 
            <%= choice.choice_text %>
             <br> 
        <%end%>
      <% end %>
    <%end%>

  <% end %>
  <br>
  <input type="submit" value="Submit Survey">
</form>

