<%= erb :_header %>

<form action='/take_survey/:survey_id' method ="POST">

    <%= @questions.each do |question| %>

    <p>Question: <%= question.question_text %></p><br>      

      <%= question.choices.each do |choice| %> 
         <input type="radio" name="choice_id" value="<%= choice.id %>"> 
           <%= choice.choice_text %>
         <br>  
      <% end %>
    <% end %>
  
  <input type="submit" value="Submit survey">

</form>

